################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestCsvToXml/v14
/Those desktop items that I do not want on my desktop
/C9JS_Code/C9JS_Fundamentals
