################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestCsvToXml/v14
/Those desktop items that I do not want on my desktop
/C9JS_Code/C9JS_Fundamentals
/guy-hello-911-i-am-dying-911-let-me-see-22784458.png
/indivFile10.cs
/Lightsaber,_silver_hilt,_blue_blade.png
/Manager.lnk
/screening_list_consolidated_2017-06-06.csv
/Capture.PNG
/how-to-draw-gargamel_1_000000006977_5.jpg
/outputxmlfile10Ent.xml
